<div class="centerVertically">
  <div class="logoBox">
    <div class="showAfterAnimation name">
      {{dictionary.mainPageWelcome}}
    </div>
    <div class="verticalLine showAfterAnimation"></div>
    <div class="socials showAfterAnimation">
      <div class="row">
        <div class="col link" (click)="openFacebook()">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          Facebook
        </div>
        <div class="col link">
          <i class="fa fa-instagram" aria-hidden="true"></i> 
          Instagram
        </div>
        <div class="col link" (click)="openLinkedId()">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
          LinkedIn
        </div>
      </div>
    </div>
  </div>
</div>