@import '~font-awesome/css/font-awesome.css';

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.spinner-grow {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background: 
    linear-gradient( 
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5) 
    ), 
    url('/assets/images/backgroung_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  animation: fadeBackground 1.5s linear 1.5s;
  animation-fill-mode: forwards; 
}

@keyframes fadeBackground {
  from {
  }
  to {

  }
}