.infoMainContainer {
  font-family: serif;
  margin-top: 70px;
  margin-left: auto;
  padding: 20px 10px 40px 10px;
  margin-right: auto;
  width: 95%;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(255, 255, 255, 0.45);
  margin-bottom: 30px;
}

.mapWrapper {
  padding: 10px 5%;
}

agm-map {
  height: 70vh;
  width: 100%;
}

.pageHeader {
  font-size: 55px;
}

.contact-info {
  padding-top: 20px;
  padding-left: 30px;
}
