<div class="infoMainContainer">
  <h1 class="pageHeader">{{dictionary.contactsName}}</h1>
  <div class="row">
    <div class="col-md">
      <div class="mapWrapper">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="col-md contact-info">
      {{dictionary.email}}: <a href="mailto:igor.bilinsky@gmail.com" target="_blank"> igor.bilinsky@gmail.com</a>
      <br>
      {{dictionary.phone}}: <a href="tel:34636144986" target="_blank"> +34 636 144 986</a>
    </div>
  </div>
</div>